/* ABOUT PAGE */
.about-page {
  &__hero {
    @include _992 {
      padding-top: calc(var(--scroll-padding));
    }

    &-container {
      @include _1366 {
        padding-inline: 51px;
      }

      @include _992 {
        padding-inline: 16px;
      }

      @include min_992 {
        position: absolute;
        top: 0;
        right: 0;
      }
    }

    &-content {
      margin-left: auto;
      padding-top: calc(var(--scroll-padding) + 42px);
      height: 100%;
      align-items: flex-end;

      @include _992 {
        padding: 42px 0px;
        align-items: flex-start;
      }
    }

    &-photo {
      width: 58.55%;
      //padding-bottom: 53.65%;

      @include _992 {
        width: 100%;
        //padding-bottom: 70.1%;
        height: 60%;
      }

      @include _768 {
        height: 39.5%;
      }

      &::after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color-text, $alpha: 0.3);
      }
    }

    &-title {
      max-width: 593px;
      text-align: right;

      @include _992 {
        position: absolute;
        top: 17.15%;
        left: 4.8%;
        text-align: left;
      }
    }

    &-info {
      @include _992 {
        width: 100%;
      }
    }

    &-text {
      display: block;
      max-width: 363px;
      font-size: 17px;
      line-height: 22px;
      text-align: right;
      color: $color-text;

      @include _992 {
        max-width: 100%;
        font-size: 16px;
        line-height: 21px;
        text-align: left;
      }
    }
  }

  &__info {
    background-color: #fff;
    padding: 49px 0px;

    @include _992 {
      padding: 18px 0px;
    }

    &-body {
      display: flex;
      gap: 20px;

      @include _992 {
        flex-direction: column;
      }
    }

    &-photo {
      flex: 1 1 auto;

      &-img {
        width: 100%;
      }
    }

    &-text {
      flex: 0 1 58.57%;

      @include _992 {
        flex: 0 1 100%;
      }
    }
  }
}
