/* HOME BENEFITS */
.benefits {
  &__photo {
    width: 100%;

    &-img {
      width: 100%;
    }
  }

  &__items {
    margin-top: -1px;
    padding: 80px 0px 124px;
    background-color: #fff;

    @include _992 {
      padding: 40px 0px 50px;
    }

    &-body {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      align-items: center;
      column-gap: 16px;
      row-gap: 32px;

      @include _1200 {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
      }

      @include _568 {
        padding-inline: 44px;
        grid-template-columns: 1fr;
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    @include _568 {
      justify-content: flex-start;
      gap: 44px;
    }

    &-title {
      max-width: 149px;
    }
  }

  &__info {
    padding: 35px 0px 27px 0px;

    @include _992 {
      padding: 35px 61px;
    }

    &-title {
      font-size: 42px;
      line-height: 55px;
      text-align: center;

      @include _992 {
        font-size: 29px;
        line-height: 38px;
      }
    }

    &-btn {
      margin-top: 19px;
      margin-inline: auto;
    }
  }
}
