/* HOME HISTORY */
.history {
  &__body {
    padding-top: 122px;

    @include _992 {
      padding-top: 48px;
    }
  }

  &__slider-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;

    .slick-dots {
      display: flex;
      align-items: center;
      gap: 120px; //80

      @include _992 {
        gap: 104px; //70
      }
    }

    li {
      cursor: pointer;
      position: relative;
      width: 0px; //40
      height: 40px;
      font-size: 0;
      transition: all 0.5s ease;
      //border: 2px solid $color-text;
      border-top: 2px solid $color-text;
      border-bottom: 2px solid $color-text;
      border-radius: 0px; //45

      @include _992 {
        height: 34.5px; //34
      }

      &::before,
      &::after {
        position: absolute;
        top: -1px;
        content: "";
        width: 20px;
        height: 40px;
        border: 2px solid #003952;

        @include _992 {
          width: 17px;
          height: 34px;
          top: -1.5px;
        }
      }

      &::before {
        left: 0;
        transform: translateX((-100%));
        border-right: 0px;
        border-radius: 45px 0px 0px 45px;
      }

      &::after {
        right: 0;
        transform: translateX((100%));
        border-left: 0px;
        border-radius: 0px 45px 45px 0px;
      }

      &:first-child {
        button::before {
          display: none;
        }
      }

      &:last-child {
        button::after {
          display: none;
        }
      }

      button {
        position: relative;
        width: 100%;
        height: 100%;

        &::before,
        &::after {
          position: absolute;
          content: "";
          top: 50%;
          transform: translateY(-50%);
          width: 40px;
          height: 2px;
          background-color: $color-text;
          transition: all 0.5s ease;

          @include _992 {
            width: 35.5px;
          }
        }

        &::before {
          right: 20px;

          @include _992 {
            right: 16.5px;
          }
        }

        &::after {
          left: 20px;

          @include _992 {
            left: 16.5px;
          }
        }

        /*  &::after {
          position: absolute;
          content: "";
          top: 50%;
          left: 20px;
          transform: translateY(-50%);
          width: 80px;
          height: 2px;
          background-color: $color-text;
          transition: all 0.5s ease;
        } */
      }

      &.slick-active {
        width: 40px; //80
        margin-inline: -20px;

        @include _992 {
          width: 34px; //68
          margin-inline: -17px;
        }

        &:first-child {
          transform: translateX(20px);

          @include _992 {
            transform: translateX(17px);
          }

          button {
            &::after {
              width: 40px;

              @include _992 {
                width: 35px;
              }
            }
          }
        }

        &:last-child {
          transform: translateX(-20px);

          @include _992 {
            transform: translateX(-17px);
          }
        }

        button {
          &::before {
            transform: translateX(-40px) translateY(-1px);

            @include _992 {
              transform: translateX(-34px) translateY(-1px);
            }
          }

          &::after {
            left: 60px;
            width: 60px;

            @include _992 {
              left: 49.5px;
              width: 51px;
            }
          }
        }
      }
    }
  }

  &__slider {
    margin-top: 102px;
    margin-inline: -51px;

    @include _992 {
      margin-top: 26px;
      margin-inline: -16px;
    }
  }

  &__slide {
    text-align: center;
  }

  &__slide-title {
    font-size: 32px;
    line-height: 42px;

    @include _992 {
      font-size: 24px;
      line-height: 31px;
    }
  }

  &__slide-text {
    width: 49.3%;
    margin-top: 9px;
    margin-inline: auto;

    @include _992 {
      width: calc(100% - 32px);
      font-size: 16px;
      line-height: 21px;
    }
  }

  &__photo {
    margin-top: 124px;
    margin-bottom: -2px;
    width: 100%;

    @include _992 {
      margin-top: 74px;
    }

    &-img {
      width: 100%;
    }
  }
}
