/* HOME REVIEWS */
.reviews {
  &__photo {
    width: 100%;

    &-img {
      width: 100%;
    }
  }

  &__body {
    margin-top: -1px;
    padding: 20px 0px 129px;
    background-color: #fff;

    @include _992 {
      padding: 60px 0px 48px;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 70px;

    @include _992 {
      gap: 50px;
    }
  }

  &__slider {
    margin-inline: -172px;

    @include _992 {
      margin-inline: -16px;
    }

    .slick-slide {
      display: flex;
      gap: 54px;

      @include _992 {
        gap: 17px;
      }
    }

    &-arrows {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include min_992 {
        display: none;
      }
    }
  }

  &__slide {
    padding-inline: 44px;
    display: flex;
    gap: 54px;

    @include _992 {
      padding-inline: 20px;
      gap: 17px;
    }

    &-photo {
      width: 20.5%;
      height: 20.5%;
      border-radius: 45px;
      overflow: hidden;

      &-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
    }

    &-info {
      flex: 1 1 66.75%;
    }

    &-title {
      font-size: 26px;
      line-height: 34px;

      @include _992 {
        font-size: 20px;
        line-height: 26px;
      }
    }

    &-text {
      margin-top: 18px;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 27px;

    @include _992 {
      flex-direction: column;
    }

    &-title {
      flex: 0 1 70.42%;
      font-size: 42px;
      line-height: 55px;

      @include _992 {
        flex: 0 1 100%;
        font-size: 29px;
        line-height: 38px;
        text-align: center;
      }
    }
  }
}
