/* HOME ABOUT */
.short-about {
  &__container {
    padding-left: 0px;

    @include _1366 {
      padding-right: 51px;
    }

    @include _992 {
      padding-inline: 16px;
    }
  }

  &__body {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    @include _992 {
      padding: 36px 0px 105px;
      flex-direction: column;
      gap: 44px;
    }
  }

  &__photos {
    position: relative;
    z-index: -1;
    width: 55.55%;

    @include _992 {
      width: 100%;
    }
  }

  &__photo {
    &--small {
      width: 35%;
      height: 33.333%;
      position: absolute;
      bottom: 8%;
      right: -23.65%;

      @include _1366 {
        right: -9.65%;
      }

      @include _992 {
        width: 40.5%;
        height: 38.71%;
        bottom: -8%;
        right: 10.5%;
      }

      @include _768 {
        bottom: -12%;
      }
	  
      @include _568 {
        bottom: -18%;
      }
    }

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }

  &__info {
    @include min_992 {
      flex: 0 1 372px;
      padding: 98px 0px;
    }

    &-title {
      text-align: right;
      font-size: 64px;
      line-height: 83px;

      @include _992 {
        font-size: 32px;
        line-height: 42px;
        text-align: center;
      }
    }

    &-text {
      text-align: right;

      @include _992 {
        text-align: center;
        margin-top: 10px;
      }
    }
  }
}
