/* HOME SOLUTIONS */
.solutions {
  background-color: #fff;

  &__body {
    padding: 56px 0px 97px 0px;

    @include _992 {
      padding: 27px 0px 60px 0px;
    }
  }

  &__title {
    font-size: 64px;
    line-height: 83px;
    text-align: center;

    @include _992 {
      font-size: 32px;
      line-height: 42px;
    }
  }

  &__content {
    margin-top: 51px;
    display: flex;

    @include _992 {
      flex-direction: column-reverse;
    }
  }

  &__info {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 147px;

    @include _992 {
      margin-top: 51px;
      width: 100%;
      gap: 53px;
    }

    &__slider {
      //width: 50%;
      overflow: hidden;
    }

    &-slide-title {
      font-size: 32px;
      line-height: 42px;

      @include _992 {
        font-size: 24px;
        line-height: 31px;
      }
    }

    &-slide-text {
      margin-top: 10px;

      @include min_992 {
        margin-top: 7px;
        min-height: 189px;
      }
    }

    &-btn {
      align-self: center;

      @include min_992 {
        align-self: flex-start;
        margin-bottom: 35px;
      }
    }
  }

  &__photo-slider {
    flex: 1 1 auto;

    @include _992 {
      height: 300px;
    }
  }
}
