/* FONTS */
@font-face {
  font-family: "Golca";
  font-display: swap;
  src: url(../fonts/Golca-ExtraLight.woff2) format("woff2"),
    url(../fonts/Golca-ExtraLight.woff) format("woff"),
    url(../fonts/Golca-ExtraLight.ttf) format("ttf"),
    url(../fonts/Golca-ExtraLight.eot) format("eot");
  font-weight: 300;
  font-style: normal;
}
