@mixin responsive-value($property, $startSize, $endSize) {
  $addSize: $startSize - $endSize;
  #{$property}: calc(
    #{$endSize + px} + #{$addSize} * ((100vw - 375px) / (1534 - 375))
  );
}

@mixin mask($url) {
  mask-image: ($url);
  -webkit-mask-image: url($url);
  mask-size: cover;
  -webkit-mask-size: cover;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center center;
  -webkit-mask-position: center center;
}

@mixin _1534 {
  @media (max-width: 1534px) {
    @content;
  }
}

@mixin _1366 {
  @media (max-width: 1366px) {
    @content;
  }
}

@mixin min_1366 {
  @media (min-width: 1366.02px) {
    @content;
  }
}

@mixin _1200 {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin _1024 {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin _992 {
  @media (max-width: 992px) {
    @content;
  }
}

@mixin min_992 {
  @media (min-width: 992.02px) {
    @content;
  }
}

@mixin _768 {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin min_768 {
  @media (min-width: 768.02px) {
    @content;
  }
}

@mixin _640 {
  @media (max-width: 640px) {
    @content;
  }
}

@mixin _568 {
  @media (max-width: 568px) {
    @content;
  }
}

@mixin _480 {
  @media (max-width: 480px) {
    @content;
  }
}

@mixin _375 {
  @media (max-width: 375px) {
    @content;
  }
}
