/* HEADER */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: rgba(#fff, 0.75);

  @include _992 {
    background-color: rgba(#fff, 1);
  }

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    backdrop-filter: blur(2.5px);

    @include _992 {
      backdrop-filter: unset;
      background-color: inherit;
      z-index: 6;
    }
  }

  &__body {
    padding: 19px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 44px;

    @include _992 {
      padding: 30px 0px;
      justify-content: end;
    }
  }

  &__logo {
    display: block;
    width: 149px;
    height: 25.5px;
    background-color: $color-text;
    transition: all 0.5s ease;

    &:hover {
      background-color: $color-blue-light;
    }

    @include mask("../assets/images/logo.svg");

    @include _992 {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 10;
      translate: -50% -50%;
    }
  }
}
